#textdomain wesnoth-The_Settlers_of_Light

[unit_type]
	[event]
	name=advance
		[filter]
			type=Aragwaith Warlock
		[/filter]
		{RANDOM male,female}
		{VARIABLE unit.gender $random}
		{CLEAR_VARIABLE random}
		{RANDOM ({FEMALE_NAMES})}
		{VARIABLE unit.name $random}
		{CLEAR_VARIABLE random}
	[/event]
	[event]
	name=recruit
		[filter]
			type=Aragwaith Wizard
		[/filter]
		{RANDOM ({FEMALE_NAMES})}
		{VARIABLE unit.name $random}
		{CLEAR_VARIABLE random}
	[/event]
    id=Aragwaith Wizard
    name= _ "female^Wizard"
    race=aragwaith
    gender=male,female
    image="units/human-aragwaithi/wizard.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=31
    movement_type=aragwaithfoot
    movement=5
    experience=132
    level=2
    alignment=neutral
    advances_to=Aragwaith Sorcerer
    cost=43
    usage=healer
    [abilities]
        {ABILITY_CURES}
    [/abilities]
    [idle_anim]
        start_time=0
        {STANDARD_IDLE_FILTER}
        [frame]
            duration=100
            image="units/human-aragwaithi/wizard-idle-1.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-aragwaithi/wizard-idle-2.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-aragwaithi/wizard-idle-3.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-aragwaithi/wizard-idle-2.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-aragwaithi/wizard-idle-3.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-aragwaithi/wizard-idle-1.png"
        [/frame]
    [/idle_anim]
    [healing_anim]
        start_time=-275
        [frame]
            duration=55
            image="units/human-aragwaithi/wizard-heal-1.png"
        [/frame]
        [frame]
            duration=55
            image="units/human-aragwaithi/wizard-heal-1.png"
            halo="units/halo/wizard+female-heal-halo-1.png"
        [/frame]
        [frame]
            duration=55
            image="units/human-aragwaithi/wizard-heal-1.png"
            halo="units/halo/wizard+female-heal-halo-2.png"
        [/frame]
        [frame]
            duration=55
            image="units/human-aragwaithi/wizard-heal-2.png"
            halo="units/halo/wizard+female-heal-halo-3.png"
        [/frame]
        [frame]
            duration=55
            image="units/human-aragwaithi/wizard-heal-2.png"
            halo="units/halo/wizard+female-heal-halo-4.png"
        [/frame]
        [frame]
            duration=55
            image="units/human-aragwaithi/wizard-heal-2.png"
            halo="units/halo/wizard+female-heal-halo-5.png"
        [/frame]
        [frame]
            duration=55
            image="units/human-aragwaithi/wizard-heal-2.png"
            halo="units/halo/wizard+female-heal-halo-6.png"
        [/frame]
        [frame]
            duration=55
            image="units/human-aragwaithi/wizard-heal-1.png"
            halo="units/halo/wizard+female-heal-halo-7.png"
        [/frame]
        [frame]
            duration=55
            image="units/human-aragwaithi/wizard-heal-1.png"
            halo="units/halo/wizard+female-heal-halo-8.png"
        [/frame]
        [frame]
            duration=55
            image="units/human-aragwaithi/wizard-heal-1.png"
            halo="units/halo/wizard+female-heal-halo-9.png"
        [/frame]
        [frame]
            duration=55
            image="units/human-aragwaithi/wizard-heal-1.png"
        [/frame]
    [/healing_anim]
    {DEFENSE_ANIM "units/human-aragwaithi/wizard-defend-1.png" "units/human-aragwaithi/wizard.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    [attack]
        name=staff
        description={STR_STAFF}
        icon=attacks/staff-magic.png
        type=impact
        range=melee
        damage=7
        number=2
    [/attack]
    [attack]
        name=fireball
        description={STR_FIREBALL}
        icon=attacks/fireball.png
        type=fire
        range=ranged
        damage=10
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
	start_time=-200
        [frame]
            duration=50
            image="units/human-aragwaithi/wizard-attack-1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-150
                end=0
                image="units/human-aragwaithi/wizard-attack-2.png"
                sound=staff.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-150
                end=0
                image="units/human-aragwaithi/wizard-attack-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=0
            end=150
            image="units/human-aragwaithi/wizard-attack-3.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=fireball
        [/filter_attack]
        {MISSILE_FRAME_FIREBALL}
	start_time=-250
        [frame]
	    duration=50
            image="units/human-aragwaithi/wizard-ranged-1.png"
        [/frame]
        [frame]
	    duration=250
            image="units/human-aragwaithi/wizard-ranged-2.png"
            sound=fire.wav
        [/frame]
        [frame]
	    duaration=50
            image="units/human-aragwaithi/wizard-ranged-1.png"
        [/frame]
    [/attack_anim]
    [female]
        gender=female
        name= _ "female^Wizard"
        image="units/human-aragwaithi/wizard_alt.png"
    [idle_anim]
        [frame]
            duration=100
            image="units/human-aragwaithi/wizard-idle-1_alt.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-aragwaithi/wizard-idle-2_alt.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-aragwaithi/wizard-idle-3_alt.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-aragwaithi/wizard-idle-2_alt.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-aragwaithi/wizard-idle-3_alt.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-aragwaithi/wizard-idle-1_alt.png"
        [/frame]
    [/idle_anim]
    [healing_anim]
        [frame]
            duration=55
            image="units/human-aragwaithi/wizard-heal-1_alt.png"
        [/frame]
        [frame]
            duration=55
            image="units/human-aragwaithi/wizard-heal-1_alt.png"
        [/frame]
        [frame]
            duration=55
            image="units/human-aragwaithi/wizard-heal-1_alt.png"
        [/frame]
        [frame]
            duration=55
            image="units/human-aragwaithi/wizard-heal-2_alt.png"
        [/frame]
        [frame]
            duration=55
            image="units/human-aragwaithi/wizard-heal-2_alt.png"
        [/frame]
        [frame]
            duration=55
            image="units/human-aragwaithi/wizard-heal-2_alt.png"
        [/frame]
        [frame]
            duration=55
            image="units/human-aragwaithi/wizard-heal-2_alt.png"
        [/frame]
        [frame]
            duration=55
            image="units/human-aragwaithi/wizard-heal-1_alt.png"
        [/frame]
        [frame]
            duration=55
            image="units/human-aragwaithi/wizard-heal-1_alt.png"
        [/frame]
        [frame]
            duration=55
            image="units/human-aragwaithi/wizard-heal-1_alt.png"
        [/frame]
        [frame]
            duration=55
            image="units/human-aragwaithi/wizard-heal-1_alt.png"
        [/frame]
    [/healing_anim]
    {DEFENSE_ANIM "units/human-aragwaithi/wizard-defend-1_alt.png" "units/human-aragwaithi/wizard_alt.png" {SOUND_LIST:HUMAN_HIT} }
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        [frame]
            image="units/human-aragwaithi/wizard-attack-1_alt.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                image="units/human-aragwaithi/wizard-attack-2_alt.png"
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                image="units/human-aragwaithi/wizard-attack-2_alt.png"
            [/frame]
        [/else]
        [frame]
            image="units/human-aragwaithi/wizard-attack-3_alt.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=fireball
        [/filter_attack]
        [frame]
            image="units/human-aragwaithi/wizard-ranged-1_alt.png"
        [/frame]
        [frame]
            image="units/human-aragwaithi/wizard-ranged-2_alt.png"
        [/frame]
        [frame]
            image="units/human-aragwaithi/wizard-ranged-1_alt.png"
        [/frame]
    [/attack_anim]
    [/female]
[/unit_type]
