#textdomain wesnoth-The_Settlers_of_Light

[era]
	id=Settlers_of_Light_era
	name= _ "The Settlers of Light era"

	{RANDOM_SIDE}
	{~add-ons/The_Settlers_of_Light/factions/Aragwaithi.cfg}
	{~add-ons/The_Settlers_of_Light/factions/Ceresians.cfg}
	{~add-ons/The_Settlers_of_Light/factions/Northeners_SoL.cfg}
	{~add-ons/The_Settlers_of_Light/factions/Desert_Elves.cfg}
	{~add-ons/The_Settlers_of_Light/factions/Undead_SoL.cfg}
	{~add-ons/The_Settlers_of_Light/factions/Dwarves_SoL.cfg}
	{~add-ons/The_Settlers_of_Light/factions/Elves_SoL.cfg}
	{~add-ons/The_Settlers_of_Light/factions/Dark_Legion.cfg}
	{QUICK_4MP_LEADERS}
[/era]
[era]
	id=Aragwaithi
	name= _ "The Aragwaithi"

	{RANDOM_SIDE}
	{~add-ons/The_Settlers_of_Light/factions/Aragwaithi.cfg}
    	{multiplayer/factions/loyalists-default.cfg}
    	{~add-ons/The_Settlers_of_Light/factions/Rebels_SoL.cfg}
    	{multiplayer/factions/northerners-default.cfg}
    	{multiplayer/factions/undead-default.cfg}
    	{multiplayer/factions/knalgans-default.cfg}
    	{multiplayer/factions/drakes-default.cfg}
	{QUICK_4MP_LEADERS}
[/era]
[era]
	id=RPG
	name= _ "The Settlers of Light RPG"

	{RANDOM_SIDE}
	{~add-ons/The_Settlers_of_Light/factions/RPG.cfg}
[/era]