#textdomain wesnoth-The_Settlers_of_Light
	[textdomain]
   		name="wesnoth-The_Settlers_of_Light"
    		path="data/add-ons/The_Settlers_of_Light/translations"
	[/textdomain]
	[binary_path]
		path="data/add-ons/The_Settlers_of_Light/external_data"
	[/binary_path]
	{~add-ons/The_Settlers_of_Light/external_data/initial.cfg}
	[campaign]
		name= _ "The Settlers of Light"
		abbrev=TSoL
		first_scenario=1_Bandit_Camp
		define=CAMPAIGN_SETTLERS_OF_LIGHT
		extra_defines=ENABLE_DWARVISH_RUNESMITH
		icon="longswordsman.png~RC(magenta>green)"
		difficulties=EASY,NORMAL,HARD
		difficulty_descriptions= _ {MENU_IMG_TXT2 "wizard+female.png~RC(magenta>green)" _"Wizard" _"(Easy)"} +
    ";*" + {MENU_IMG_TXT2 "warlock+female.png~RC(magenta>green)" _"Warlock" _"(Normal)"} +
    ";" + {MENU_IMG_TXT2 "sorcerer+female.png~RC(magenta>green)" _"Sorcerer" _"(Hard)"}

		{SOL_CREDITS}

		description= _ "After the fall of The Chaos Empire, a group of humans try to settle in the desert. At first, the area seems to be ruled by bandits and Chaos remnants, but what is really going on? Will the Aragwaithi succeed in their mission, or will this all be remembered as a foolish attempt to tame the wilderness."+"

<span color='#888'>"+_"(15 scenarios, version {VERSION}, for 1.9.3 or later.)"+"</span>"

    		image="campaign-image.png"
    
		end_text= _ "To be continued..."

	[/campaign]
#ifdef CAMPAIGN_SETTLERS_OF_LIGHT
	[binary_path]
		path="data/add-ons/The_Settlers_of_Light"
	[/binary_path]

	{./utils/mainline-strings.cfg}
	{./lua/wml_tags.lua}
	{./utils/preload.cfg}
	{./utils}

	[+units]
		{./units}
		{./units/dwarves}
		{./units/demons}
		{./units/hero}
		{./units/humans}
		{./units/elves-desert}
		{./units/elves-wood}
		{./units/mechanical}
		{./units/monsters}
		{./units/shaxthal}
		{./units/goblins}
		{./units/undead}
		{./units/wose}
	[/units]
	{./scenarios}
	{./music}
#endif
#ifdef MULTIPLAYER
[binary_path]
    path=data/add-ons/The_Settlers_of_Light/
[/binary_path]

	{./utils/mainline-strings.cfg}
	{./lua/wml_tags.lua}
	{./utils/preload.cfg}
	{./utils}
	{./era}
	{./mp_scenarios}
[+units]
		{./units}
		{./units/dwarves}
		{./units/humans}
		{./units/elves-desert}
		{./units/mechanical}
		{./units/goblins}
		{./units/elves-wood}
		{./units/undead}
		{./units/wose}
[/units]

#endif
#ifdef EDITOR
[binary_path]
    path="data/add-ons/The_Settlers_of_Light"
[/binary_path]
[editor_group]
    id=sol
    name= _ "The Settlers of Light"
    icon="group_custom"
[/editor_group]
{~add-ons/The_Settlers_of_Light/utils/mainline-strings.cfg}
{~add-ons/The_Settlers_of_Light/utils/cliffs.cfg}
{~add-ons/The_Settlers_of_Light/utils/bridge.cfg}
{~add-ons/The_Settlers_of_Light/utils/terrain.cfg}
{~add-ons/The_Settlers_of_Light/utils/terrain_graphics.cfg}
#endif